/* CSS Doument */
body {
    background-color: #778899;
    font-family: sans-serif;
}

header {
  height: 100px;
  background-color: Sienna
  width: 100px;
  z-index: 10;
}
h1 {
  color: #FFFAFA;
  font-family: sans-serif;
  text-align: center;
}
