/* CSS Doument */
body {
    background-color: snow;
    font-family: sans-serif;
}

h1 {
  height: 100px;
  background-color: Sienna;
  width: 100px;
  z-index: 10;
}
h1 {
  color: LightSlateGrey;
  font-family: sans-serif;
  text-align: center;
}
